# Program to Generate combined IP report

In [75]:
import re #regular expression

import pandas as pd
import glob

data = pd.DataFrame() #create a new python dataframe
for filename in glob.glob('*.csv'): #loop through each of the files
    
    if filename == 'combined.csv':
        continue
    df = pd.read_csv(filename, usecols =['Source IP'])
    df = df.drop_duplicates()
    filename = filename.split('.csv')[0]
    
    filename = [re.sub('[0-9]', '', filename)]*len(df) #remove numbers present in the filename, replicate filename for multiple rows
    df['Environment'] = filename
    data = pd.concat([data,df],axis =0) #concatinate 
    
    #print(filename)
    #print(df)
    

#print(df.drop_duplicates())
data

     Source IP Environment
0      6.6.6.6  Asia Prod
0      7.7.7.7  Asia Prod
1      8.8.8.8  Asia Prod
2      9.9.9.9  Asia Prod
3  10.10.10.10  Asia Prod
0      4.4.4.4  Asia Prod
1      5.5.5.5  Asia Prod
0      1.1.1.1     NA Prod
2      2.2.2.2     NA Prod
3      3.3.3.3     NA Prod

##  Function to calculate the IP value

In [76]:
def ip_sorting_key(ips):
    #ip = ip['Source IP']
    total = []
    for ip in ips:
        ascii_total = 0 #calculate the Ascii total for each IP address
        for char in ip:  
            #print("char=",char)
            ascii_total += ord(char) #ord-gets ascii value
        total.append(ascii_total)
    
    return pd.Series(total)

In [77]:
data.sort_values(by=['Source IP'],key = ip_sorting_key) #sort IP based on its value in ascending order

     Source IP Environment
0      1.1.1.1     NA Prod
2      2.2.2.2     NA Prod
3      3.3.3.3     NA Prod
0      4.4.4.4  Asia Prod
1      5.5.5.5  Asia Prod
0      6.6.6.6  Asia Prod
0      7.7.7.7  Asia Prod
1      8.8.8.8  Asia Prod
2      9.9.9.9  Asia Prod
3  10.10.10.10  Asia Prod

In [78]:
#ip_sorting_key(data['Source IP'])

## Sort the IP by rows and store

In [79]:
data = data.sort_values(by=['Source IP'],key = ip_sorting_key) #default Quicksort is used

In [80]:
data.to_csv("combined.csv", index = False) # Save data to combined without index column